<!DOCTYPE html>
<html>
<head>
    <title>PDP Form</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
</head>
<body>
<div class="pure-g">
<form>
<div class="col pure-u-1-4">

<h4>Front End</h4>
    {% for item in pdp_items %}{% if item.focus == 'Front End' %}
    <span class="pure-u-1">
        <label  class="pure-u-4-5"  label-for="{{ item.name }}">{{ item.name }}</label>
        <input class="pure-u-1-12" id="{{ item.name }}" type="{{ item.type }}" />
    </span>{% endif %}{% endfor %}
</div>
<div class="col pure-u-1-4">
<h4>Back End</h4>
    {% for item in pdp_items %}{% if item.focus == 'Back End' %}
    <span class="pure-u-1">
        <label class="pure-u-4-5" label-for="{{ item.name }}">{{ item.name }}</label>
        <input class="pure-u-1-12" id="{{ item.name }}" type="{{ item.type }}" />
    </span>{% endif %}{% endfor %}
</div>
<div class="col pure-u-1-4">
<h4>Core Skills</h4>
    {% for item in pdp_items %}{% if item.focus == 'Core Professional Knowledges' %}
    <span class="pure-u-1">
        <label class="pure-u-4-5" label-for="{{ item.name }}">{{ item.name }}</label>
        <input class="pure-u-1-12" id="{{ item.name }}" type="{{ item.type }}" />
    </span>{% endif %}{% endfor %}
</div>
</form>
</div>
</body>
</html>
