{% extends "main.html" %}
{% block head %}
<title>Enter Data</title>
{% endblock %}

{% block body %}
    <div class="forms">
        <div class="forms__agenda_maker">
            <form action="/agenda_maker" class="pure-form" method="POST" >
                    <label for="agenda_topic" >What are we talking about?</label><input type="text" class="forms__agenda_maker__input" name="agenda_topic" /><br />
                    <label for="agenda_meeting" >When are we talking about it?</label><input type="text" class="forms__agenda_maker__input"  name="agenda_meeting" /><br />
                <input type="Submit" value="Commit" class="pure-button pure-button-primary" />
            </form>
        </div>
    </div>
{% endblock %}

